<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paidcourses</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"> 
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="pdc.css">
</head>



<nav class="navbar navbar-expand-lg navbar-light bg-white" >
  <a class="navbar-brand mb-3" href="#">
  <img src="/images/logo.png" width="80px" height="50px"> 
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" 
  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
  aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="navbarSupportedContent">
  


  <ul class="navbar-nav mr-auto container-fluid">
  
      <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-list-ul"></i> Courses
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/freec">Free Courses</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/paidc/<%=usr._id%>">PAID Courses</a>
          <div class="dropdown-divider"></div>
          
      </div>
      </li>
  
      <a class="nav-link btn btn-outline-info" style="margin-right: 20px;" href="/about/<%=usr._id%>">About</a>
      <a class="nav-link btn btn-outline-warning" href="/usrpg/<%=usr._id%>">Userpage</a>  


  </ul>
  

      <a class="nav-link btn btn-outline-danger mx-3" href="/login">LOGOUT</a>  
      
          
  </div>
</nav>



<a href="/kart/<%=usr._id%>" class="btn btn-primary">View kart</a>
  <center><h1 style="color: darkmagenta;">PAID COURSES</h1></center>   

<% crs.forEach(function(el){   %>
  <div class="card" style="width: 16rem;margin-top: 20px;margin-left:20px;background: rgb(0,0,0);background: rgba(0,0,0,0.5);color:aqua">
    <img class="card-img-top" src="<%=el.imageurl%>" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%=el.CrsName%></h5>
      <p class="card-text"> <%=el.description%></p>
      <form method="POST" action="/kartupd/<%=usr._id%>/<%=el._id%>?_method=PUT">
       <button class="btn btn-primary" type="submit">ADD TO KART</button>
      </form>
    </div>
  </div>

<%})%>


   


 
   
   


 <body style="background-image: url(https://images.unsplash.com/photo-1505238680356-667803448bb6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
 background-repeat: no-repeat;background-size: cover;">







<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

<script>
$(function () {
  $('[data-toggle="popover"]').popover()
})

</script>


</body>




   
<div id ="ed" class="row" style="margin-top: 800px;">
  <div class="col pl-5">
      
  
  <div class="col">
      <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link active text-info" href="#">Terms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-info" href="#">Privacy and Cookie Police</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-info" href="#">Intellectual Property</a>
          </li>
        </ul>

  </div>
</div>
</div>

</html>